{% extends 'main/base.html' %}

{% block title %} World news {% endblock%}

{% block content %}
    <div class="features">
        <h1>NEWS PAGE</h1>
        {% if news %}
                {% for element in news %}
                <div class="alert alert-warning">
                    <h3>{{ element.title }}</h3>
                    <p>{{ element.anons }}</p>
                    <a class="btn btn-warning" href="{% url 'news-detail' element.id %}">more details</a>
        <!--                {{ element.full_text }}-->
                </div>
                {% endfor %}
        {% else %}
            <p>You have no news</p>
        {% endif %}
    </div>
<!--        <button type="button" class="btn btn-warning">Read news</button>-->
<!--    <br>-->
<!--        {{ news }}-->
<!--    </div>-->

{% endblock %}